doctype html
html
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        title #{pageTitle} | #{siteName}
    body 
        header
            include ../partials/header
        main
            block content 
        footer
            include ../partials/footer